<div class="notification-popup attach-file">
  <h2 class="notification-popup__title">
    Attach file
  </h2>
  <div class="notification-popup__message">
    Select the file you want to upload
  </div>
  <form
    class="drag-box"
    [class.drag-box--enter]="dragover"
    [formGroup]="form"
    (drop)="drop($event)"
    (drag)="preventEvent($event)"
    (dragenter)="dragOver($event)"
    (dragover)="dragOver($event)"
    (dragend)="dragEnd($event)"
    (dragexit)="dragEnd($event)"
    (dragleave)="dragEnd($event)"
    *ngIf="!data.image"
    novalidate>
    <div class="drag-box__title">Drag a file here or browse to upload.</div>

    <button
      class="drag-box__btn"
      cov-client-button
      viewType="accent"
      (click)="input.click()"
    >Upload</button>

    <input
      style="display: none"
      (change)="handlePhotoInputChange($event)"
      type="file"
      name="files[]"
      id="file"
      accept="video/*"
      #input
    >
  </form>
</div>
<video [src]="videoUrl" width="320" height="240" controls *ngIf="videoUrl" #video></video>
