.app {
  margin: auto;
  max-width: 900px;
  padding: 0.5rem;
  height: 600px;
  display: flex;
  flex-flow: row nowrap;
  &__column {
    flex-basis: 50%;
  }
}

.card {
  padding: 0.5rem;

  &_preview {
    height: 300px;
  }
  &_drag {
    height: 600px;
  }
  &__content {
    position: relative;
    height: 100%;
    border-radius: 4px;
    border: dashed 3px #ededed;
    box-sizing: border-box;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover > .actions {
      display: flex;
    }
  }
}

.attach-file {
  min-width: 523px;
}

.drag-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: black;
    font-size: 16px;
    line-height: 23px;
    padding: 16px 0;
    text-align: center;
    width: 196px;
    margin: 0 auto;
  }
  &__btn {
    margin: 16px;
  }

  &--enter {
    background-color: transparent;
  }
}

.btn {
  width: 120px;
  height: 30px;
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  color: black;
  text-decoration: none;
  background-color: white;
}
